.divAddSomethingCard {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 250px;
    min-height: 250px;
    border: 2px solid var(--azul-clarito);
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.divAddSomethingCard p {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--azul-clarito);
}

.linkAddSomething {
    text-decoration: none;
}

@media (max-width: 930px) {
    .divAddSomethingCard {
        width: 200px;
    }
}

@media (max-width: 530px) {
    .divAddSomethingCard {
        width: 180px;
    }

    .divAddSomethingCard p {
        font-size: 1.2rem;
    }
}

@media (max-width: 387px) {
    .divAddSomethingCard {
        width: 140px;
    }
}

@media (max-width: 367px) {
    .divAddSomethingCard {
        width: 100%;
    }
}