.dataCompanyPanel {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 2rem;
    z-index: 1000;
    width: 350px;
    height: calc(100vh - 4rem);
    justify-content: space-between;
    padding: 2rem 0;
    gap: 1rem;
}

.dataCompanyPanel.user {
    height: auto;
}

.dataContent {
    padding: 2rem;
    background-color: var(--blanco);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px grey;
}

.titleContainer {
    margin-bottom: 2rem;
}

.h2TitleCompanyPanel {
    margin-bottom: .2rem;
}

.parrafData {
    margin: 1rem 0;
    font-size: 1rem;
    display: flex;
    flex-direction: column;

    span {
        font-weight: bold;
    }
}

.divGenerateURL {
    margin-top: 2rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parrafVinculate span {
    font-weight: 800;
    color: var(--azul-clarito);
}

.configurationsContainer {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 2rem;
}

.divIconParrafContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.parrafConfig {
    font-size: 1rem;
    font-weight: 600;
    color: var(--azul-clarito);
}

.divQuantityAppointmentsContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 1rem;
}

.divQuantityAppointments {
    display: flex;
    gap: 1.5rem;
    height: 100%;
    align-items: center;
    border-radius: 10px;
    background-color: var(--blanco);
    padding: 2rem;
    box-shadow: 0px 0px 5px 0px grey;

    h2 {
        margin-bottom: .5rem;
        font-size: 2rem;
    }
}

.configButton {
    display: flex;
    justify-content: center;
    background-color: var(--azul-clarito);
    color: var(--blanco);
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0px 0px 5px grey;
}

.configButton:hover {
    background-color: #0e6b85;
}

.divButtonSettingsMobile {
    display: none;
}

.divQuantityAppointmentsTextInner {
    display: none;
}

@media (max-width: 1200px) {
    .dataCompanyPanel {
        left: 1rem;
        width: 300px;
    }

    .dataContent,
    .divQuantityAppointments {
        padding: 1.5rem;
    }
}

@media (max-width: 1000px) {
    .dataContent {
        display: none;
    }

    .dataCompanyPanel {
        position: static;
        width: 100%;
        height: auto;
        padding: 0;
    }

    .divQuantityAppointmentsContainer {
        margin-bottom: 0;
        margin-top: 2rem;
        justify-content: space-between;
        flex-direction: row;
        height: auto;
        gap: 1rem;
    }

    .divQuantityAppointments {
        flex: 1;
        justify-content: center;
        text-align: center;
        padding: 1rem;
    }

    .dataCompanyPanel .divButtonSettings {
        display: none;
    }

    .divButtonSettingsMobile {
        display: block;
        display: flex;
    }

}

@media (max-width: 850px) {

    .iconContainer {
        display: none;
    }

    .divQuantityAppointments {
        height: auto;

        h2 {
            font-size: 1.5rem;
            margin: 0;
        }

        h3 {
            font-size: .9rem;
        }
    }

    .divQuantityAppointmentsTextInner {
        margin-bottom: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}