.divListContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.oneCard {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
}

@media (max-width: 930px) {
    .divListContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 530px) {

    .divListContainer,
    .oneCard {
        gap: .7rem;
    }
}

@media (max-width: 370px) {
    .divListContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}