.noServicesAppointments {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noServicesAppointments h3 {
    font-size: 2rem;
}

.divListContainer {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

@media (max-width: 930px) {
    .divListContainer {
        gap: 1rem;
    }
}

@media (max-width: 530px) {
    .divListContainer {
        justify-content: center;
        gap: .7rem;
    }
}