.noServicesAppointments {
    height: 39vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.noServicesAppointments h3 {
    font-size: 1.5rem;
}

.divListContainerScheduledAppointments {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
}

.oneCard {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.titleAndFilterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    gap: .5rem;
    flex-wrap: wrap;
}

.divFilter {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.buttonFilter {
    background-color: rgb(211, 211, 211);
    color: rgb(114, 114, 114);
    border: none;
    cursor: pointer;
    padding: .2rem .5rem;
    border-radius: 5px;
    transition: all .3s ease;
}

.activeButtonFilter {
    color: white;
    background-color: var(--azul-clarito);
}

.buttonFilter:hover {
    color: white;
    background-color: var(--azul-clarito);
}

@media (max-width: 1200px) {

    .oneCard {
        grid-template-columns: repeat(3, 1fr);
    }

    .divListContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 930px) {

    .oneCard {
        grid-template-columns: repeat(1, 1fr);
    }

    .divListContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 685px) {
    .noServicesAppointments h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 530px) {

    .divListContainer,
    .oneCard {
        gap: .7rem;
    }

    .titleAndFilterContainer {
        margin-bottom: 1rem;
    }
}

@media (max-width: 370px) {
    .divListContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}