.appointmentCard {
    width: 250px;
    padding: 1rem;
    border: 2px solid var(--azul-clarito);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.parrafAppointment {
    margin: .5rem 0;
}

.parrafAppointment span {
    font-weight: bold;
}

.divDataContainer {
    margin: .8rem 0;
}

@media (max-width: 930px) {
    .appointmentCard {
        width: 200px;
        padding: .8rem;
    }

    .titleService {
        font-size: 1.2rem;
    }

    .parrafAppointment {
        font-size: .9rem;
    }

    .divDataContainer {
        margin: .2rem 0;
    }
}

@media (max-width: 530px) {
    .appointmentCard {
        width: 180px;
        padding: .7rem;
    }

    .titleService {
        font-size: 1rem;
    }

    .parrafAppointment {
        font-size: .8rem;
    }
}

@media (max-width: 447px) {
    .appointmentCard {
        width: 150px;
    }
}

@media (max-width: 387px) {
    .appointmentCard {
        width: 140px;
    }
}

@media (max-width: 367px) {
    .appointmentCard {
        width: 100%;
        padding: .7rem;
    }
}