.title {
    background: -webkit-linear-gradient(left, var(--azul-clarito), var(--azul-oscuro));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    margin-bottom: .5rem;
}