.navBar {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--azul-clarito);
    box-shadow: 0px -5px 21px 0px var(--azul-oscuro);
}

.divIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 930px) {
    .navBar {
        display: flex;
    }
}

@media (max-width: 530px) {
    .navBar {
        padding: 1rem;
    }
}