.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem;
    box-shadow: 0px -5px 15px 0px grey;
    background-color: var(--blanco);
}

.navBarContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.divIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.parrafNavbar {
    font-size: 1.2rem;
    margin-top: .5rem;
}

@media (max-width: 530px) {
    .navBar {
        padding: 1rem;
    }
}