/* Contenedores */

.loginContainer {
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--blanco);
}

.registerContainer {
    margin-top: 2rem;
}

/* Formularios */

.formLoginRegister {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    div {
        margin: 1rem 0;
        width: 100%;
    }

    label {
        margin-right: 1rem;
    }

    input {
        padding: .2rem;
        border: none;
        border-radius: 10px;
        color: black;
        background-color: var(--blanco);
    }

    a {
        width: 100%;
    }

    button {
        margin-bottom: 2rem;
        padding: .5rem;
        color: var(--color-fondo);
        align-self: center;
        cursor: pointer;
        width: 100%;
    }
}