.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    min-width: 40vw;
    background: #fff;
    padding: 3rem 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formModal {
    width: 100%;
}

.divInputsFormModal {
    display: flex;
    gap: 1.5rem;
}

.divButtonsFormModal {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.dayPickerContainer {
    margin: 2rem 0;
}

.rdp-root {
    --rdp-accent-color: var(--azul-clarito);
    --rdp-today-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rdp-months {
    padding: 1rem;
    border: 2px solid var(--azul-clarito);
    border-radius: 5px;
}

.rdp-nav {
    margin: 1rem 1rem 0 0;
}