.divAppointments {
    margin: 1rem 0;
}

.divListContainer {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.noServicesAppointmentsUser {
    height: 39vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noServicesAppointmentsUser h3 {
    font-size: 1.5rem;
}

@media (max-width: 930px) {
    .divListContainer {
        gap: 1rem;
    }
}

@media (max-width: 530px) {
    .divListContainer {
        justify-content: center;
        gap: .7rem;
    }
}