.divInterfaceCompanyContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.divCompanyPanel {
    width: 100%;
    padding: 2rem;
}

@media (max-width: 930px) {
    .divInterfaceCompanyContainer {
        flex-direction: column;
    }

    .divCompanyPanel {
        width: auto;
    }
}

@media (max-width: 530px) {
    .divCompanyPanel {
        padding: 2rem 1rem;
    }
}