.divInterfaceCompanyContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.divCompanyPanelContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.divCompanyPanel {
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin-left: calc(350px + 2rem);
}

.buttonLink {
    margin-left: .5rem;
    padding: .2rem;
}

.divSectionAndButtonsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.divButtonsContainer {
    margin-top: 2rem;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: .3rem;
    border: 1px solid rgb(192, 192, 192);
}

.buttonSection {
    padding: .8rem 1.8rem;
    width: 100%;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
    color: var(--azul-clarito);
    background-color: var(--blanco);
}

.active {
    border: 2px solid var(--azul-clarito);
    background-color: var(--azul-clarito);
    color: var(--blanco);
    box-shadow: 0px 0px 3px 0px grey;
}

.noActive {
    transition: all .2s;
}

.noActive:hover {
    color: var(--azul-oscuro);
    background-color: #fafafa;
}

.divSectionContainer {
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: var(--blanco);
    box-shadow: 0px 0px 5px 0px grey;
}

@keyframes appointment-slide-in {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animation-section {
    animation: appointment-slide-in .5s ease-out;
}

@media (max-width: 1200px) {
    .divCompanyPanel {
        padding-right: 1rem;
        margin-left: calc(300px + 1rem);
    }
}

@media (max-width: 1000px) {
    .divCompanyPanel {
        padding-right: 2rem;
        gap: 1rem;
        flex-direction: column;
        margin: 0;
    }

    .divButtonsContainer {
        margin: 0;
    }
}

@media (max-width: 530px) {
    .divCompanyPanel {
        padding: 2rem 1rem;
    }
}