.divHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divHome h2 {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--azul-clarito);
    margin-bottom: 2rem;
}

.divButtonsHome {
    width: 100%;
}

.linkButton {
    text-decoration: none;
}

.pDescription {
    color: var(--azul-clarito);
}

@media (max-width: 560px) {

    .divHome {
        padding: 0 1.5rem;
    }

    .divHome h2 {
        font-size: 1.2rem;
        text-align: center;
    }

    .pDescription {
        font-size: .8rem;
    }
}