.dataHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 4rem;
        font-weight: 900;
        margin-bottom: 2rem;
    }

    h2 {
        margin-bottom: 2rem;
    }

    a {
        width: 100%;
        text-decoration: none;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1rem;

        p {
            color: var(--color-fondo);
            font-size: 1.2rem;
            margin-right: 1.2rem;
        }
    }
}

.pExplication {
    margin: .3rem 0 2rem 0;
    align-self: flex-start;
    font-size: .9rem;
    color: var(--celeste-clarito);
}