.divInput {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
}

.divInput label {
    font-size: 1.5rem;
    font-weight: bold;
    background: -webkit-linear-gradient(left, var(--azul-clarito), var(--azul-oscuro));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.divInput select {
    margin-top: .5rem;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: #F5F5F5;
}

@media (max-width: 930px) {
    .divInput {
        margin: 2rem 0;
    }
}

@media (max-width: 630px) {
    .divInput {
        margin: 1rem 0;
    }
}

@media (max-width: 450px) {
    .divInput select {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}