.calendarServicePanel {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 10px;
    background-color: var(--blanco);
    box-shadow: 0px 0px 5px 0px grey;
}

.calendarContainer {
    margin: 1rem 0;
}

.fc .fc-button-primary {
    background-color: var(--azul-oscuro);
}

.event {
    padding: .8rem .5rem;
    cursor: pointer;
    transition: all .2s;
}

.event:hover {
    padding: 2rem 0 2rem 1rem;
}

.fc-sticky,
.fc-event-time {
    user-select: none;
}

.fc .fc-col-header-cell-cushion {
    color: black;
}

.divButtonsCalendar {
    align-self: flex-end;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.fc-daygrid-block-event .fc-event-time {
    font-weight: 800;
}

@media (max-width: 1500px) {

    .divButtonsCalendar {
        width: 100%;
    }

    .event:hover {
        padding: 1rem 0 1rem 1rem;
    }
}

@media (max-width: 1400px) {
    .fc-h-event .fc-event-main-frame {
        flex-direction: column;
        gap: .5rem;
    }

}

@media (max-width: 1000px) {
    .calendarServicePanel {
        width: auto;
        margin-top: 0;
    }
}

@media (max-width: 800px) {
    .calendarServicePanel {
        padding: 1.5rem 1rem;
    }
}

@media (max-width: 530px) {

    .fc th {
        font-size: .8rem;
    }

    .fc .fc-col-header-cell-cushion {
        padding: 1px;
    }

    .fc-direction-ltr .fc-daygrid-event .fc-event-time {
        margin: 0;
    }

    .fc-daygrid-block-event .fc-event-time {
        font-size: .8rem;
    }
}

@media (max-width: 460px) {
    .event {
        padding: .8rem .2rem;
    }

    .fc th {
        font-size: .7rem;
    }
}

@media (max-width: 360px) {
    .event {
        padding: .8rem 0;
    }

    .fc-daygrid-block-event .fc-event-time {
        font-size: .7rem;
    }
}