.divResultCard {
    background-color: var(--blanco);
    padding: 1rem;
    box-shadow: 0 0 5px 0 grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleResultCardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spanResultCard {
    font-size: .9rem;
    font-weight: 600;
    border-radius: 5px;
    padding: .2rem .5rem;
}

.noAvailables {
    background-color: red;
    color: var(--blanco);
}

.availables {
    background-color: #3f9f0f;
    color: var(--blanco);
}

.parrafCompanyName {
    margin: .5rem 0;

    span {
        font-weight: 700;
    }
}

.divDataContainer {
    margin: .8rem 0;
}

.parrafDataCompany {
    margin: .2rem 0;

    span {
        font-weight: 700;
    }
}

.divDescriptionAndButtonsContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between
}

.divDescriptionContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
}

.durationPriceContainerResultCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divDurationResultCard {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.parrafDurationResultCard {
    font-size: 1.2rem;
    color: grey;
    font-weight: 600;
}

.parrafPriceResultCard {
    font-size: 1.2rem;
    color: var(--azul-clarito);
    font-weight: bold;
}

.withSignPrice {
    color: orangered;
}

@media (max-width: 930px) {

    .divDataContainer {
        margin: .2rem 0;
    }

    .divResultCard {
        padding: .8rem;
    }

    .titleResultCard {
        font-size: 1.2rem;
    }

    .parrafCompanyName,
    .parrafDataCompany {
        font-size: .9rem;
    }

    .parrafDescription {
        margin: 0 0 .5rem 0;
    }
}

@media (max-width: 530px) {
    .divResultCard {
        padding: .7rem;
    }

    .titleResultCard {
        font-size: 1rem;
    }

    .parrafCompanyName,
    .parrafDataCompany {
        font-size: .8rem;
    }

    .parrafDescription {
        font-size: .8rem;
    }
}