.serviceCard {
    padding: 1rem;
    border: 1px solid var(--azul-clarito);
    box-shadow: 0 0 3px 0 grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.parrafService {
    margin: .5rem 0;
}

.parrafService span {
    font-weight: bold;
}

.servicesPanelHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plusButton {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin-right: 0.8rem;
}

.durationPriceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .8rem;
}

.divDuration {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.parrafDuration {
    font-size: 1rem;
    color: grey;
    font-weight: 500;
}

.parrafPrice {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--azul-clarito);
}

.spanPrice {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--azul-clarito);
}

@media (max-width: 930px) {
    .serviceCard {
        padding: .8rem;
    }

    .titleService {
        font-size: 1.2rem;
    }

    .parrafService {
        font-size: .9rem;
    }

    .dataService {
        margin: .2rem 0;
    }
}

@media (max-width: 530px) {
    .serviceCard {
        padding: .7rem;
    }

    .titleService {
        font-size: 1rem;
    }

    .parrafService {
        font-size: .8rem;
    }
}