@keyframes settings-slide-in {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes settings-slide-out {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-30px);
    }
}

.modalOverlaySettings {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalOverlaySettings.opening .modalSettingsContent {
    animation: settings-slide-in 0.3s ease forwards;
}

.modalOverlaySettings.closing .modalSettingsContent {
    animation: settings-slide-out 0.3s ease forwards;
}

body.settings-modal-open {
    overflow: hidden;
}

.modalSettingsContent {
    overflow-y: auto;
    animation: settings-slide-in .3s ease-in;
    position: relative;
    width: 100%;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    background-color: var(--blanco);
    padding: 2rem 1rem;
    border-radius: 10px;
    height: 80vh;
}

.modalSettingsBody {
    display: flex;
    gap: 2rem;
}

.icon-settings {
    transition: all .2s ease;
}

.modalSettingsMainContent {
    flex: 1;
    padding: 1rem 1rem 1rem 0;
}

.modalSettingsLateralBar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-right: 2px solid var(--gris-claro);
    padding-right: 1rem;
    height: 80vh;

    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: .5rem 1rem;
            font-size: 1.2rem;
            cursor: pointer;
            font-weight: 600;
            color: rgb(173, 173, 173);
            transition: all .2s ease;
            border-radius: 8px;
            user-select: none;
            display: flex;
            align-items: center;
            gap: .5rem;

            &:hover {
                color: var(--azul-clarito);
                background-color: var(--gris-claro);

                .icon-settings {
                    fill: var(--azul-clarito);
                }
            }

            &.active-settings {
                color: var(--azul-clarito);
                background-color: var(--gris-claro);

                .icon-settings {
                    fill: var(--azul-clarito);
                }
            }
        }
    }
}

.modalCloseButton {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: #666;
    cursor: pointer;
    transition: color 0.2s;
}

.modalCloseButton:hover {
    color: #000;
}

@media (max-width: 1300px) {
    .modalSettingsContent {
        max-width: 90vw;
    }
}