.divInterfaceUserContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.divUserPanel {
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-left: calc(350px + 2rem);
}

.userPanelContent {
    border-radius: 10px;
    box-shadow: 0 0 5px 0 grey;
    background-color: var(--blanco);
    padding: 2rem;
    width: 100%;
    margin: 2rem 0;
}

.userPanelContent.noPadding {
    padding: 0;
}

@media (max-width: 1200px) {
    .divUserPanel {
        margin-left: calc(250px + 4rem);
    }
}

@media (max-width: 1000px) {
    .divUserPanel {
        flex-direction: column;
        margin: 0;
    }

    .userPanelContent {
        margin-top: 0;
        margin-bottom: 2rem;
        width: auto;
    }
}

@media (max-width: 930px) {
    .divInterfaceUserContainer {
        flex-direction: column;
    }

    .divUserPanel {
        width: auto;
    }
}

@media (max-width: 685px) {

    .divUserPanel {
        padding: 0 1rem;
    }

    .userPanelContent {
        padding: 1.5rem 1rem;
    }
}