.divInterfaceUserContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.divUserPanel {
    width: 100%;
    padding: 2rem;
}

.divAppointments {
    margin: 1rem 0;
}

.noServicesAppointmentsUser {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noServicesAppointmentsUser h3 {
    font-size: 1.5rem;
}