:root {
  --blanco: #ffffff;
  --azul-clarito: #1282A2;
  --azul-oscuro: #0A4A5A;
  --gris-claro: #FBFBFB;
}

html {
  font-size: 90%;
}

body {
  background-color: #F5F5F5;
}

input,
textarea,
select {
  transform: scale(1);
  font-size: 16px;
}