:root {
  --blanco: #ffffff;
  --azul-clarito: #457B9D;
  --azul-oscuro: #1D3557;
  --gris-claro: #FBFBFB;
}

html {
  font-size: 90%;
}

body {
  background-color: var(--blanco);
}

input,
textarea,
select {
  transform: scale(1);
  font-size: 16px;
}